version: "3.9"
services:
  gitlab:
    container_name: gitlab-server
    image: '{{ gitlab_docker_image }}:{{ gitlab_docker_image_tag }}'
    restart: always
    hostname: '{{ gitlab_hostname }}'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://{{ gitlab_hostname }}'
        nginx['listen_https'] = false
        nginx['listen_port'] = 80
        nginx['redirect_http_to_https'] = false
        letsencrypt['enable'] = false
        gitlab_rails['initial_root_password'] = '{{ gitlab_root_password }}'    
    ports:
      - '8080:80'
      - '443:443'
      - '2222:22'
    volumes:
      - './data/config:/etc/gitlab'
      - './data/logs:/var/log/gitlab'
      - './data/data:/var/opt/gitlab'
    networks:
      mynet:
        aliases:
        - gitlab-server
        - gitlab.cesidevops.lan

networks:
  mynet:
    name: mynet
    driver: bridge
    