server {
  listen 80;
  server_name {{ item.servername }};
  
  location / {
    proxy_pass {{ item.proxypass }};
    proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
    error_page 502 /custom_502.html;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
  location /custom_502.html {
        root /var/www/html;
        internal;
    }
}

