version: '3.9'
services:
  {{ nginx_container_name }}:
    image: nginx:latest
    container_name: {{ nginx_container_name }}
    ports:
      - "{{ nginx_port }}:80"
    restart: unless-stopped
    volumes:
      - /srv/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - mynet
networks:
  mynet:
    name: mynet
    driver: bridge